<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathalarm">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_math_alarm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".firstsScreens.WelcomeActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings_Preference"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_settings_white_24dp"
            android:label="@string/preference_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Preference_style" />
        <activity
            android:name=".firstsScreens.MainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Alarms.MathAlarm.MainMathAlarm"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Alarms.MathAlarm.MathAlarmPreview"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Alarms.MathAlarm.DisplayAlarmActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <receiver android:name=".Alarms.MathAlarm.Alarm_Receiver"
            android:enabled="true"/>

        <service android:name=".Alarms.MathAlarm.MathAlarmService"
            android:enabled="true"/>
        <service android:name=".Alarms.MathAlarm.WakeLockService"
            android:enabled="true"/>
    </application>

</manifest>