<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrkostua.mathalarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".SmartAlarmApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/alarm_icon_test"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Alarms.MathAlarm.MainAlarmActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings_Preference"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_settings_white_36dp"
            android:label="@string/preference_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Preference_style" />
        <activity
            android:name=".Alarms.MathAlarm.DisplayAlarmActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity android:name=".Alarms.MathAlarm.HistoryOfAlarms.SetAlarmFromHistory" />

        <activity
            android:name=".AlarmSettings.AlarmSettingsActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:label="new screen"
            android:screenOrientation="portrait" />
        <service
            android:name=".Alarms.MathAlarm.Services.MathAlarmService"
            android:enabled="true" />
        <service
            android:name=".Alarms.MathAlarm.Services.WakeLockService"
            android:enabled="true" />

        <receiver
            android:name=".Alarms.MathAlarm.Alarm_Receiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="alarm_snooze" />
                <action android:name="alarm_dismiss" />
                <action android:name="alarm_start_new" />
            </intent-filter>
        </receiver>


    </application>

</manifest>